/* This is a CSS  file for the Simon Game */


body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: .2rem;

}
.btn-cont{
    justify-content: center;
    display: flex;

}

.yellow{
    background-color: yellow;
}
.blue{
    background-color: blueviolet;

}
.red{
    background-color: red;

}
.green{
    background-color: green;
}

.flash{
    background-color: whitesmoke;
}

.userflash{
    background-color: grey;
}